extends layout

block header
	include navbar

block content
	section.jumbotron.text-center.bg-white
		div.container
			h1.display-4 Welcome #{title} !
			p.lead.text-muted Home
	.bg-light
		.container.text-center
			a.btn.btn-primary.mt-5.mb-5(href="resource") Access the resource
