extends layout

block content
	div.container
		h1 Welcome #{title} !
		h2 This is the home page
		a.btn.btn-primary(href="resource") Access the resource
		br
		br
		a.btn.btn-danger(href="logout") Log out
