doctype html
html
  head
    title= 'SOA PROJECT' 
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    block head

  header
    block header
  
  body
    block content
