nav.navbar.navbar-dark.navbar-expand-lg.bg-dark.shadow-sm
    div.container.d-flex.justify-content-between
        a.navbar-brand.d-flex.align-items-center(href="/home")
            strong SOA PROJECT
        div.form-inline
            a.btn.btn-outline-warning.my-2-my-sm-0(href="/logout") Log out