extends layout

block content
	div.container
		h1 Register form
		form(action='register', method='POST')
			div.form-group
				label Login
				input.form-control(type='text', name='login', placeholder='Enter your login', id='login', required)
			div.form-group
				label Password
				input.form-control(type='password', name='password', placeholder='Enter your password',	required)
			input.btn.btn-primary(type='submit', value='Create account')
		br
		a(href="/") You already have an account  ? Log in !
	script(type='text/javascript').
		document.getElementById('login').focus()