extends layout

block head
	link(rel='stylesheet', href='/stylesheets/signin.css')

block content
	div.text-center
		
		form.form-signin(action='register', method='POST')
			img.mb-4(src='https://image.flaticon.com/icons/svg/16/16968.svg', alt='', width='72', height='72')
			h1.h3.mb-3.font-weight-normal Please sign up
			label.sr-only Login
			input.form-control(type='text', name='login', placeholder='Enter your login', id='login', required autofocus)
			label.sr-only Password
			input.form-control(type='password', name='password', placeholder='Enter your password', required)
			
			button.btn.btn-lg.btn-block.btn-success(type='submit') Sign up

			p.mt-3.mb-3.text-danger #{error}

		a.mt-5.mb-3(href="/") You already have an account  ? Sign in !
		
	
	script(type='text/javascript').
		document.getElementById('login').focus()